<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :order_no %>
    <%= form.number_field :order_no, :value => "#{rand(10..1000)}",:readonly => true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :order_type %>
    <%= form.text_field :order_type %>
  </div>

  <div class="field">
    <%= form.label :payable_price %>
    <%= form.text_field :payable_price %>
  </div>

  <div class="form-group">
    <%= form.label :tracking_no %>
    <%= form.number_field :tracking_no, :value => "#{rand(10..1000)}",:readonly => true, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= form.hidden_field :user_id, :value=>current_user.id %>
  </div>

  <!-- Accept Data For Order Product -->
  <%= form.fields_for :order_products do |product_fields| %>
    <div class="form-group">
      <%= product_fields.label :qty %>
      <%= product_fields.text_field :qty, class:"form-control" %>
    </div>
    <div class="form-group" >
      <%= product_fields.label :name %>
      <%= product_fields.select :product_id,options_for_select(Product.all.collect{|c| [c.name, c.id]}), class: "form-control" %>
    </div>
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
